.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

button {
  padding: 4px 6px;
  background: white;
  border: 1px solid gray;
}

.wrapper {
  background: lightskyblue;
  padding: 2% 5%;
  min-height: 100vh;
  border-radius: 15px;


  header {
    border-radius: 15px 15px 0 0;
    background: white;
    padding: 10px 10px;
    display: flex;
    gap: 10px;

  }

  main {

    .TaskBlock {
      font-size: 20px;
      background: #eee;
      padding: 5px;

      > div {
        padding: 5px 0;

        > * {
          margin: 0 5px;
        }
      }

      > input, textarea {
        border: none;
        height: 1.5em;
        padding-left: 8px;
      }

      > input:focus, textarea:focus {
        outline: none;
      }

      input[type=checkbox] {
        height: 20px;
        width: 20px;
      }

      .description {
        min-height: 4em;
      }
    }
  }
}